<!-- drop down menu to view different sugar options -->
<select (change)="onChange($event.target.value)">
  <option value="allFoods" selected="selected">All Foods</option>
  <option value="greaterThanFifteen">High Sugar</option>
  <option value="lessThanFifteen">Low Sugar</option>
</select>

<!-- shows List of Foods entered -->
<ul>
  <li *ngFor="let currentFood of childFoodList | sugarGrams:filterByGramsOfSugar" (click)="showFoodDetails(currentFood)">
    <span class="foodHover">{{currentFood.food}}</span> &nbsp;&nbsp;&nbsp;&nbsp; <br>
    <span class="sugar">{{currentFood.gramsOfSugar}}
      <span class="grams">grams of sugar</span>
    </span> <br>
    <!-- <span class="details" >Details: {{currentFood.details}}</span> -->
  </li>

  <!-- shows Food Details -->
  <div class="well whiteWell" *ngIf="showFood">
    <span class="teal">
      <h2>Food: <span class="darkText">{{showFood.food}}</span></h2>
      <h3>Details: <span class="darkText">{{showFood.details}}</span></h3>
      <h3>Grams of Sugar: <span class="darkText">{{showFood.gramsOfSugar}}</span></h3>
    </span>
    <br>
      <button (click)="editButtonHasBeenClicked(showFood)"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</button>&nbsp;
      <button (click)="hideFoodDetails(currentFood)"><i class="fa fa-minus" aria-hidden="true"></i> Hide</button>
    </div>

</ul> <!-- ends List of Foods entered -->
