<!-- drop down menu to view different sugar options -->
<select (change)="onChange($event.target.value)">
  <option value="allFoods" selected="selected">All Foods</option>
  <option value="greaterThanFifteen">High Sugar</option>
  <option value="lessThanFifteen">Low Sugar</option>
</select>

<!-- shows List of Foods entered -->
<ul>
  <li *ngFor="let currentFood of childFoodList | sugarGrams:filterByGramsOfSugar" (click)="showFoodDetails(currentFood)">
    <span class="foodHover">{{currentFood.food}}</span> &nbsp;&nbsp;&nbsp;&nbsp; <br>
    <span class="sugar">{{currentFood.gramsOfSugar}}
      <span class="grams">grams of sugar</span>
    </span> <br>
    <!-- <span class="details" >Details: {{currentFood.details}}</span> -->
  </li>

  <!-- shows Food Details -->
  <div class="well whiteWell" *ngIf="showFood">
    <span class="teal">
      <h2>Food: {{showFood.food}}</h2>
      <h3>Details: {{showFood.details}}</h3>
      <h3>Grams of Sugar: {{showFood.gramsOfSugar}}</h3>
    </span>
      <button (click)="editButtonHasBeenClicked(showFood)">Edit!</button>
      <button (click)="hideFoodDetails(currentFood)">Hide</button>
    </div>

</ul> <!-- ends List of Foods entered -->
