/* You can add global styles to this file, and also import other style files */

body,
h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;
  letter-spacing: 2px;
}

.logoImage {
  max-height: 70px;
}

.sugar {
  color: teal;
}

.grams {
  font-size: 80%
}

li {
  padding-bottom: 25px;
  list-style: none;
}

.form-control {
  max-width: 70%
}

button {
  background-color: teal;
  border-radius: 6px;
  letter-spacing: 2px;
}
