/* You can add global styles to this file, and also import other style files */

/*   EVERYTHING   */
body,
h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5em;
  letter-spacing: 2px;
}

h2,
h3 {
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 2px;
}

.logoImage {
  max-height: 70px;
}

button {
  background-color: teal;
  border-radius: 6px;
  letter-spacing: 2px;
}


 /*   FOOD LIST   */
.sugar {
  color: teal;
  padding-left: 10px;
}

.grams {
  font-size: 70%
}

.details {
  font-size: 60%;
  color: #dbfff8;
  padding-left: 10px;
}

li {
  padding-bottom: 25px;
  list-style: none;
}

.foodHover:hover {
  text-decoration: underline;
}

/*   NEW FOOD */
.addANewFood {
  position: fixed;
  top: 130px;
  right: 90px;
  width: 125px;
  font-size: 70%;
}

.form-control {
  max-width: 99%;
  font-size: 120%;
}

.teal {
  color: teal;
}

.whiteWell {
  background-color: white;
}
 /*EDIT WELL*/
.editWell {
  background-color: teal;
  margin-left: 25px;
  margin-right: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.darkButton {
  background-color: #222222;
}

select,
option {
  position: fixed;
  top: 70px;
  right: 90px;
  width: 150px;
  font-size: 70%;
  background-color: white;
  color: teal;
  border-radius: 6px;
  letter-spacing: 2px;
}
