<div class="container">
  <button (click)="showNewFood()" class="addANewFood"><i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp;Add a new food</button>
  <div *ngIf="showNew">
    <h1>Add a new food :</h1>

    <label for="food">Food : </label>
    <input #newFood class="form-control" type="text" maxlength="50">

    <label for="gramsOfSugar"> Grams of Sugar : </label>
    <input #newGramsOfSugar class="form-control" type="number" min="1">

    <label for="details"> Details : </label>
    <input #newDetails class="form-control" maxlength="350">
    <br>

    <button (click)="submitForm(newFood.value, newDetails.value, newGramsOfSugar.value); newFood.value=''; newDetails.value=''; newGramsOfSugar.value='';"><i class="fa fa-plus" aria-hidden="true"></i> Add food</button> &nbsp;
    <button (click)="hideNewFood()"><i class="fa fa-minus" aria-hidden="true"></i> Hide</button>
</div>
